body {
    font-family: 'Ubuntu', sans-serif;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .btn-github {
    background: #000;
    color: #fff;
  }
  
  .main {
    width: 100%;
    min-height: calc(100vh - 60px - 80px)
  }
  
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
  }


  
  .header {
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .header h1 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  
  .productList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    }
  
    
  .productCard {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    padding: 8px 8px 8px 100px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  
  .productCard img {
    width: 100px;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .productCard .title {
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  .productCard .description {
    font-size: 1rem;
    margin: 10px 0;
    color: #666;
  }
  
  .productCard p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  button {
  
    background: #5782d8;
    color: #fff;
    font-size: 19px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
  }

  button:hover {
    background: #2c97d0;
    color: #fff;
  }
  
  .cartItemsList {
    padding: 16px 0;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
  }
  
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding: 16px;
  }
  
  .pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style-type: none;
  }
  
  .pagination li {
    padding: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    min-width: 40px;
    text-align: center;
    overflow: hidden;
  }
  
  .pagination a, .pagination span {
    display: block;
    padding: 8px;
    color: #333;
    text-decoration: none;
    
  }
  
  .pagination a {
    cursor: pointer;
    background: #fff;
    transition: all 0.2s ease-in-out;

  }

  .customBorder {

    border-radius: 5px;
}

.pastel-menu {
  background-color: #b0e0e6;
}

.pastel-bg {
  background-color: #b0e0e6;
}

.pastel-bg:hover {
  background-color: #87ceeb;
}


.danger-bg{

  background-color: #e6b0aa;
}

.danger-bg:hover{

  background-color: #e6a098;
}


.custom-bg {
  background-color: #b0e0e6; 
  height: 66vh; 
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.form-box{

margin-top: 15vh

}

.footer-margin-log {
  margin-bottom: 150px;
}